body {
  font-family: "Roboto", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
}
nav a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 4%;
  line-height: 24px;
}
nav a:hover {
  color: #404bbf;
}
nav a:active {
  text-decoration: underline;
}
.address-list a:hover {
  color: #404bbf;
}
.address-list {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  font-weight: 400;
  font-style: normal;
}
.hero-title {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}
.button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
}
.button:hover {
  background-color: #404bbf;
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}
.benefits-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}
.our-team-list li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
