body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
}
.logo-web {
  color: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
}
nav a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
nav a:hover {
  color: #404bbf;
}
nav a:active {
  text-decoration: underline;
}
.address-list a:hover {
  color: #404bbf;
}
.address-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.hero-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}
.hero {
  background-color: #2e2f42;
}
.button {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.button:hover {
  background-color: #404bbf;
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.benefits-list {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.11;
}
.team-title {
  line-height: 1.11;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
}
.our-team-list li p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
